<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CyberByte.ArmaAdmin.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CyberByte.ArmaAdmin.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="apiBaseURL" value="http://localhost:8000/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <CyberByte.ArmaAdmin.Launcher.Properties.Settings>
      <setting name="teamspeak" serializeAs="String">
        <value>ts3server://ts3.criticalgaming.org?port=9987</value>
      </setting>
      <setting name="discord" serializeAs="String">
        <value>https://discord.gg/U4akubm</value>
      </setting>
      <setting name="website" serializeAs="String">
        <value>https://forums.criticalgaming.org</value>
      </setting>
      <setting name="api" serializeAs="String">
        <value>http://localhost</value>
      </setting>
      <setting name="launcher_url" serializeAs="String">
        <value>http://localhost/news.html</value>
      </setting>
    </CyberByte.ArmaAdmin.Launcher.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <CyberByte.ArmaAdmin.Launcher.Properties.Settings>
      <setting name="arma_exe" serializeAs="String">
        <value>C:\Steam\steamapps\common\Arma 3\arma3.exe</value>
      </setting>
    </CyberByte.ArmaAdmin.Launcher.Properties.Settings>
  </userSettings>
</configuration>